h1 {
  padding-top: 35px;
}

header {
  display: fixed;
  height: 100px;
}

.photo {
  display: none;
}

img {
  width: 700px;
  border-radius: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#number {
  width: 700px;
}

.btn {
  font-weight: bold;
  padding: 10px;
  /* margin: 10px; */
  margin-top: 10px;
  margin-bottom: 10px;
  border: dotted grey 0.5px;
}

#play-again {
  display: none;
}

